body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: white;
  }
  
  header {
    background-color: #e88094;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .brand {
    color: white;
    margin: 0;
    font-size: 24px;
  }
  
  nav {
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    color: black;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .nav-link.active {
    background-color: white;
    font-weight: bold;
  }
  
  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
  }
  
  /* Home content */
  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
  }
  
  .home-message {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  .home-message h2 {
    font-size: 36px;
    color: #e88094;
    margin-bottom: 10px;
  }
  
  .home-message p {
    font-size: 18px;
    margin-bottom: 30px;

  }
  
  .btn.pink {
    background-color: #e88094;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }
  .second-btn {
    margin-left: 40px; 
  }
  
  .btn.pink:hover {
    background-color: #d06b7f;
  }
  
  .home-logo {
    width: 250px;
    height: auto;
    display: block;
  margin: 0 auto; 
    
  }
  

  /* This is for the dropdown*/
  .dropdown {
  position: relative;
  display: inline-block;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  min-width: 180px;
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}
 
